@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');


* { 
  font-size: 16px;
}


.header {
  background-color: #fff;
  color: #eb4034;
  height: 7vh;
  text-align: center;
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.allergen-filter {
  /* display: flex; */
  flex-direction: row;
  font-size: 1rem;
  align-items: center;
  color: white;
  justify-content: space-between;
  background-color: #eb4034;
  padding: 2rem;
  height: 3vh;
}

.title {
  font-size: 1rem;
  text-decoration: underline;
}

.smoothie-grid {

  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: space-evenly;
  flex-wrap: wrap;

}

.smoothie-card {
  border: solid 2px #eb4034;
  margin: 1rem;
  width: 20vw;
  height: 40vh;
  padding: 1rem;
  text-align: center;
}


.smoothie-image {

  width: 20vh;
  height: 20vh
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #12bca2;
  --secondary: #6d15df;
}

.navbar {
  background: var(--primary);
  padding: 10px 20px;
  text-align: center;
}

h1,h2,h3 {
  margin: 0;
}

body {
  margin: 0;
  color: #333;
  font-family: 'Poppins';
  background: #f2f2f2;
}
nav {
  background: var(--primary);
  padding: 10px 20px;
  text-align: center;
}
nav a {
  color: #f2f2f2;
  margin: 10px;
  display: inline-block;
}
nav h1 {
  color: #fff;
}
.page {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

/* smoothie grid */

.smoothie-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.smoothie-card {
  width: 100%;
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
}

.smoothie-card .rating {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #327fba;
  color: #fff;
  border-radius: 19px;
  width: 40px;
  height: 0px;
  padding: 20px 0px; 
  line-height: 0px;
  text-align: center;
}

.add_to_cart {
  background: #32ba7d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
}
